.summaryRow{
    display: flex;
    /* margin-bottom: 0; */
}





/*######################### MEDIA ######################### */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    /* .summaryRow{
        display: flex;
        margin-bottom: 15px;
    } */

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
