.doughnutChart{
    width: 1750px;
    height: 500px;
}

/*######################### MEDIA ######################### */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .doughnutChart{
        width: 750px;
        height: 500px;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
